body, html, #app, .container {
	margin: 0;
	height: 100%;
}

.header {
	background: rgba(252,90,44,.89);
   color: #fff;
   padding: 5px;
	display: flex;
   justify-content: space-between;
   align-items: center;
}

.header a {
	color: #fff;
	text-decoration: none;
}

.landing {
	background-image: url(/images/pattern.svg);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #FFF;
	background-size: cover;
	height: 100%;
	justify-content: center;
}

.search {
	display: flex;
	justify-content: center;
}

.landing .search {
	flex-direction: column;
}

.btn-success {
	color: #fff;
   background-color: #5cb85c;
   border-color: #4cae4c;
}

.result {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.day-forecast {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 20px;
}

.weather {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.weather img, .details img {
	height: 130px;
}

.weather:hover {
	cursor: pointer;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.form-control {
	margin: 5px;
	border: 1px solid #ccc;
	line-height: 30px;
	border-radius: 3px;
	padding: 0 10px;
}